header{
    background-color: $cd-primary;
    margin-top: 1em;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    img{
        padding: 0.5em 0.5em 1em;
        max-width: 150px;
    }
    .cart{
        margin: 1em 3em;
        padding: 0.5em;
        border-radius: 5px;
        transition: 800ms;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }
        &:hover{
            background-color: darken($cd-primary,3%);
            i{
                transition: 800ms;
                background: linear-gradient(-50deg, $cd-secondary, $cd-tertiary);
                background-clip: text;
                color: transparent;
            }
        }
    }
}
