
header{
    background-color: $cd-primary;
    margin-top: 1em;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    img{
        padding: 0.5em 1em 0.5em 1em;
        max-width: 150px;
    }
    .cart{
        margin: 1em 3em;
        padding: 0.5em;
        border-radius: 5px;
        transition: 800ms;
        color: black;
        &:hover{
            background-color: darken($cd-primary,3%);
        }
    }
}

.tilte{
    text-align: center;
    h1{
        margin-bottom: 0%;
        margin-top: -0.5em;
    }
    p{
        font-size: 0.8em;
    }
}

section{
    margin: 0 1em 0 1em;
}

.bg-color-deg{
    background: (linear-gradient(-50deg, lighten($cd-secondary,25%), lighten($cd-tertiary,25%)));
    height: 500px;
    border-radius: 15px;
}

/*
.lp{
    background-color: lightpink;
    height: 100px;
}
.ld{
    background-color: lightblue;
    height: 200px;
}
.lk{
    background-color: lightgreen;
    height: 200px;
}
*/